## Instance
## Attribute
## Inheritance
## Polymorphism

# INSTANCE & ATTRIBUTE

In [94]:
class SuperHero(): ## class names must start with a capital letter
    def __init__(self, name, age, job): ## "init" comes from "initialize"
        self.name = name
        self.age = age
        self.job = job
        
    def exampleMethod(self):
        ## this one is important, we need self.(name) to call the method
        print(f"I am {self.name} and my job is {self.job}")

In [95]:
batman = SuperHero("bruce", 30, "being rich")

In [96]:
batman.name

'bruce'

In [97]:
batman.exampleMethod()

I am bruce and my job is being rich

In [108]:
class Cat0():
    def __init__(self,age = 5): ## this helps us to get a "default" value
        self.age = age          ## instead of getting an error

In [109]:
myCat_one = Cat(3) ## we gave the "input"

In [110]:
myCat_one.age

3

In [111]:
myCat_two = Cat() ## we did not give the "input"

In [112]:
myCat_two.age

5

In [103]:
class Dog():
    def __init__(self,age = 5):
        self.age = age
    
    def printit(self):   
        a = self.age * 7
        print(f"your dog is {self.age} years old for normal and {a} years old if was a human")

In [104]:
madog = Dog(2)

In [105]:
madog.printit()

your dog is 2 years old for normal and 14 years old if was a human

# INHERITANCE

In [136]:
class Animal():
    def __init__(self):
        print("init here")
    
    def method_1(self):
        print("Animal method 1")
    
    def method_2(self):
        print("Animal method 2")

In [142]:
class Cat(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Cat Class's init")
    
    def meowing(self): ## animals except cat
        print("meow")
    
    ## using "OVERRIDE"
    def method_1(self): ## even it has the same name but it has different content
        print("Cat Class's method 1 ")

In [143]:
maCat = Cat()

init here
Cat Class's init

In [144]:
maCat.method_1() ## so, we can call the methods in the Animal class 
                 ## even it is for only the Cat Class
maCat.method_2()  

maCat.meowing()

Cat Class's method 1
Animal method 2
meow

In [145]:
maWolf = Animal()

init here

In [146]:
maWolf.method_1()

maWolf.method_2()

Animal method 1
Animal method 2

# POLYMORPHISM

In [147]:
class Apple():
    def __init__(self,name):
        self.name = name
    
    def information(self):
        return self.name + " 150 calori "

In [148]:
class Banana():
    def __init__(self,name):
        self.name = name
    
    def information(self):
        return self.name + " 100 calori "

In [153]:
apple = Apple("apple") ## putting "apple" value into apple variable

banana = Banana("banana") ## putting "banana" value into banana variable

print(apple.information())

print(banana.information())

apple 150 calori
banana 100 calori

In [154]:
fruitList = [apple,banana]

In [155]:
for fruit in fruitList:
    print(fruit.information())

apple 150 calori
banana 100 calori

In [162]:
def info(fruit):
    print(fruit.information())

In [163]:
print(info(apple),info(banana))

apple 150 calori
banana 100 calori
None None